#first {
    height:100px;
    width:100px;
    background-color: red;
    transition: 2s;
    
}
/*The above creates a box in red, where efefcts take 2 seconds to execute*/

#first:hover {
    /*height: 200px;
    width:200px;*/
    transform: scale(2) translate(50px, 50px) rotate(360deg);
    background-color: aqua;
}
/*The above creates a hover trigger*/

img {
    width:200px;
}

.card-parent {
    display: flex;
    justify-content: space-around;
}

.card {
    border: 1px solid red;
    border-radius: 20px;
    overflow:hidden; /*text won't go outside of the parent*/
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 5px black;
    transition: 0.5s;
}

#second {
    margin:50px;
    width:100px;
    height:100px;
    background-color: red;
    animation-name:animation-for-redbox2;
    animation-duration: 0.5s;
    animation-iteration-count:2;
}

@keyframes animation-for-redbox2 {
    0% {
        width:100px;
    }
    50% {
        width:200px;
    }
    75% {
        width:300px;
    }
    100% {
        width:100px;
    }
}

.parent-typing-effect{
    display: flex; /*This is added so that it doesn't take up the whole space like a div*/
}

#typing-effect {
    font: size 24px;
    animation: typing-animation .5s infinite, change-width 2s steps(30, end) 1;
    /* animation-duration: 2s; /* to blink the right border
    animation-iteration-count: infinite; continuously blink the right border*/
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing-animation {
    0% {
        border-right: none;
    }
    /*50% {
        border-right: 2px solid black;
        /*border-bottom: 3px solid red;
        border-top: 3px solid red;
    }*/

    100% {
        border-right: 2px solid black;
    }
}

@keyframes change-width {
    0% {
        width: 0;
    }
    75% {
        width: 100%;
    }
}

.typography {
    margin: 100px;
    text-align: center;
    font-size: 2rem; /* em = 16px, em is relative to the immediate parent font size and rem is relative to the root font size */
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.class1 {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 16px;
}